@font-face { font-family: 'Inter'; src: url('fonts/Inter-Regular.woff2') format('woff2'), url('fonts/Inter-Regular.woff') format('woff'); }
* { padding: 0; margin: 0; } 
::selection { background-color: #322b12; color: #59523c; }
html, body { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); background-color: white; }

h1, h2, p, p1 { font-family: 'Inter', sans-serif; font-weight: 400; color: #322b12; margin-left: 20px; } 
h1 { font-size: 60px; max-width: 850px; } 
h2 { font-size: 18px; } 
p { font-size: 25px; max-width: 600px; } 
p1 { font-size: 18px}
a { color: #322b12; text-decoration: none; } 
img { width: 100%; border-radius: 20px; } 
hr.small { height: 20px; visibility: hidden; }
hr.large { height: 5vw; visibility: hidden; }

nav .button { position: fixed; top: 20px; right: 20px; } 
header { padding: 20px; } 
header #title { height: 20vw; margin-bottom: 20px; } 
main { margin: 1vw 20px 20px 20px; } 
section { margin-top: 10vw; padding: 15vw 0 15vw 0; background-color: #322b12; } section h1, section h2 { padding: 0 20px 0 20px; text-align: center; color: white; margin-left: auto; margin-right: auto; }
footer { margin-top: 15vw; padding: 15vw 20px 20px 20px; background-color: #322b12; } footer h1, footer h2, footer p { color: white; } 
footer #arrows { margin-top: 15vw; } 
footer #arrows a img { transition: 0.2s; opacity: 0.3; } 
footer #arrows a:hover img { opacity: 1; }

.button { background-color: #ec6e2b; color: white; padding: 10px 15px 10px 15px; border-radius: 20px; z-index: 100; transition: 0.2s; } 
.button:hover { border-radius: 0; }
.button-large { background-color: #ebe3c7; padding: 5vw 0 5vw 0; width: calc(100vw - 40px); display: block; text-align: center; border-radius: 10vw; transition: 0.2s; } 
.button-large:hover { border-radius: 0; }
.flex { display: flex; align-items: flex-start; } 
.flex > div { flex: 1; } 
.sticky { position: sticky; top: 20px; }
.flexboard { display: flex; } 
.flexboard > div { flex: 1; } 
.flexboard > div img { display: block; } 
.board { background-color: #ebe3c7; border-radius: 20px; display: block;} 
/* .board p { padding: 20px; text-align: justify; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); } */

@media (max-width: 800px) {
  h1 { font-size: 40px; } 
  h2 { font-size: 16px; } 
  p { font-size: 20px; }
  hr.large { height: 40px; }

  header #title { height: 30vw; } 
  main { margin-top: 20vw; } 
  section { margin-top: 20vw; padding: 20vw 0 20vw 0; }
  footer { margin-top: 20vw; padding: 20vw 20px 20px 20px; } 
  footer #arrows { margin-top: 20vw; }
  
  .button-large { padding: 10vw 0 10vw 0; border-radius: 20vw; }
  .flex { display: block; } 
  .flex > div:nth-child(1) { padding-bottom: 20px; } 
  footer .flex > div:nth-child(1) { padding-bottom: 20vw; } 
  .sticky { position: static; }
  .flexboard1 { flex-direction: column; } 
  .flexboard2 { flex-direction: column-reverse; } 
  .board p { position: static; top: 0; left: 0; transform: translate(0, 0); -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -moz-transform: translate(0, 0); -o-transform: translate(0, 0); }
}

@media (max-width: 400px) {
  h1 { font-size: 30px; } 
  h2 { font-size: 12px; } 
  p { font-size: 16px; }
  header #title { height: 40vw; }
}

